main {
  font-family: "Raleway", sans-serif;
  display: flex;
}

main::before {
  position: fixed;
  content: "";
  top: 0;
  right: 25%;
  height: 100%;
  width: 2px;
  background-color: #000000;
}

.profile-section {
  width: 25%;
  float: left;
  margin-top: 10vh;
  text-align: center;
}

.profile-image {
  width: auto;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
  max-width: 150px;
}

.profile-section section {
  margin-bottom: 4vh;
}

svg,
a {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.other-info {
  width: 25%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.other-info p {
  margin-bottom: 0;
}

.other-info p + p {
  margin-top: 0;
}

#tryhackme-badge {
  margin-bottom: 20px !important;
}

.github-stats-image {
  margin-top: 20px;
}

.middle-section {
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.updates-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.max-width-1 {
  max-width: 80vw;
}

.max-width-2 {
  max-width: 60vw;
}

.m-auto {
  margin: auto;
}

.updates-posts {
  padding: 18px;
  background-color: #dbe0e0;
  margin-top: 23px;
  position: relative;
}

.updates-posts {
  display: flex;
  margin: 25px;
}

.updates-posts img {
  width: 200px;
  height: 170px;
}

.updates-posts-content {
  align-self: center;
  padding: 25px;
}

.updates-posts-content a {
  text-decoration: none;
  color: black;
}

/*Media queries*/

@media (max-width: 900px) {
  main {
    flex-direction: column;
  }

  .profile-section {
    order: 1;
  }

  .other-info {
    order: 2;
  }

  .middle-section {
    order: 3;
  }

  .profile-section,
  .other-info,
  .middle-section {
    padding: 20px;
    border-bottom: 2px solid #000000;
    width: 100%;
    float: none;
  }

  .profile-section,
  .other-info,
  .middle-section {
    text-align: center;
    margin-top: 15px;
  }

  .middle-section {
    background-color: #ffffff;
  }

  .updates-posts {
    padding: 10px;
    margin: 10px;
  }

  .updates-posts img {
    width: 100%;
    height: auto;
  }

  .updates-posts-content {
    padding: 15px;
  }

  main::before {
    display: none;
  }
}
